<h1>
  Component1
</h1>
<button (click)="navigate()"> Navigate to component2 </button>
<br/>
  <button (click)="isVisible= !isVisible">
    Toggle
  </button>
  <div *ngIf="isVisible" class="square"></div>
